<div class="col-md-3">
    <div *ngIf="connectedUser$ | async as user; else loading"
         class="d-flex align-items-center justify-content-end gap-2">

        <span class="d-none d-lg-inline"> Bonjour, <strong>{{ user.firstName }}</strong>
        </span>

        <div class="avatar" [title]="user.firstName + ' ' + user.lastName">
            {{ getInitials(user) }}
        </div>
    </div>

    <ng-template #loading>
        <div class="d-flex justify-content-end">
            <div class="avatar bg-light">
                <i class="fa-solid fa-circle-notch fa-spin text-muted"></i>
            </div>
        </div>
    </ng-template>
</div>
